@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Barlow', sans-serif;
    font-size: 62.5%;
    /* 1rem = 10px / 16px = 62.5% */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
}

h2 {
    font-size: 7.2rem;
    color: #FFFFFF;
}

h3 {
    font-size: 5.4rem;
}

p {
    font-size: 1.8rem;
    line-height: 3rem;
}

header {
    background: rgba(0, 0, 0, 0.5) url(images/background1.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

    height: 100vh;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 3.2rem;
    color: #FFFFFF;
    padding: 3.2rem 14.6rem 0;
    margin-bottom: 16.5rem;
}

.nav__menu {
    display: flex;
    justify-content: flex-end;
    gap: 3.2rem;

}

.nav__menu-item {
    padding-top: 1.8rem;
}

.nav__menu-link:hover,
.nav__menu-link:active,
.nav__menu-link:focus {
    text-decoration: underline;
}

.button {
    display: inline-block;
    font-size: 1.8rem;
}

.button--primary {
    color: #FFFFFF;
    background-color: #FF4D01;
    border: 2px solid #FF4D01;
}

.button--secondary {
    color: #191919;
    background: transparent;
    border: 2px solid #191919;
}

.button--md {
    padding: 1.6rem 2.2rem;
}

.button--lg {
    padding: 2.1rem 3.4rem 2.6rem;
}

.hero {
    text-align: center;
    color: #FFFFFF;
}

.hero h2 {
    max-width: 68rem;
    margin: 0 auto 2rem;
}

.hero p {
    max-width: 64rem;
    margin: 0 auto 3.5rem;
}

.hero .button--secondary {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.hero .button:first-of-type {
    margin-right: 2.8rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 7.3rem;
    padding: 12.4rem 14.6rem 15rem 12.6rem;
}

.about-img {
    max-width: 50rem;
    max-height: 70rem;
}

.section-name {
    font-size: 2rem;
    color: #FF4D01;
}

.section-name::before {
    content: '/';
}


.about h3 {
    margin-bottom: 2rem;
}

.about p {
    margin-bottom: 5.7rem;
}

.orange {
    font-size: 7.2rem;
    color: #FF4D01;
}


.about .features {
    display: flex;
    flex-direction: row;
    gap: 8.6rem;
    font-size: 1.8rem;
    color: #989899;
    margin-bottom: 4.9rem;
}


.about .features-item-heading {
    font-size: 7.2rem;
    color: black;
}

.about .features li {
    display: flex;
    flex-wrap: wrap;
    max-width: 16rem;
}

.services {
    display: flex;
    flex-direction: column;
    padding: 15rem 14.6rem;
}

.services h3 {
    display: flex;
    max-width: 43rem;
    justify-content: flex-start;
}

.services .section-name {
    display: flex;
    padding-bottom: 1.5rem;
}

.services .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 6.4rem;
}

.services .headings {
    margin-right: auto;
}

.services-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5.7rem;
    row-gap: 8rem;
}

.services-items li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 33.5rem;
}

.services-items h4 {
    font-size: 3.4rem;
    padding-top: 3.2rem;
}

.services-items p {
    font-size: 1.8rem;
    color: #605E5D;
    padding-top: 1.4rem;
    margin-bottom: 1.2rem;
}

.services-items a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.services-items .rect {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: #191919;
}

.services-items span {
    font-size: 1.8rem;
}

.cta {
    background-image: url(images/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15rem;
    padding: 11.4rem 69rem 11.6rem 14.6rem;
}

.cta h3 {
    margin-bottom: 2rem;
}

.cta p {
    margin-bottom: 3.5rem;
    font-size: 1.8rem;
    color: #605E5D;
}

.cta .button--primary {
    margin-right: 2.8rem;
}

.why-us {
    background-image: url(images/backgroundpattern.png);
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: left;
    padding: 27.4rem 11.6rem 15rem 12rem;


}

.wrapper-top {
    display: flex;
    justify-content: flex-start;
    gap: 6.2rem;
    margin-bottom: 10rem;
}

.wrapper-top-wrap {
    display: flex;
    flex-direction: column;
}

.wrapper-top h2 {
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}


.wrapper-top h3 {
    width: 47.3rem;
    align-items: center;
    margin-bottom: 2rem;
}

.wrapper-top p {
    max-width: 59.3rem;
    margin-bottom: 1.7rem;
    color: #605E5D;
}


.wrapper-top li {
    display: flex;
    font-size: 1.8rem;
    gap: 1rem;
    padding-bottom: 1.9rem;
}

.wrapper-bottom {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8.9rem;
}

.wrapper-bottom-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 15rem;
}

.wrapper-bottom h3 {
    max-width: 50.5rem;
    margin-bottom: 1.9rem;
}

.wrapper-bottom p {
    max-width: 50.8rem;
    font-size: 1.8rem;
    color: #605E5D;
    margin-bottom: 1rem;
}

.wrapper-bottom ul {
    display: flex;
    gap: 4rem;
}

.wrapper-bottom li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    color: #605E5D;
}

.wrapper-bottom .success-item-heading {
    color: #191919;
}

.wrapper-bottom span {
    font-size: 5.4rem;
}

.pros-item::before {
    content: url(images/galochka.png);
}

.projects {
    display: flex;
    padding: 12rem 14.6rem 15rem;
    flex-direction: column;
}

.projects .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.projects .headings {
    margin-right: auto;
}

.projects .wrapper h2 {
    padding-bottom: 1.5rem;
}

.projects .wrapper h3 {
    max-width: 62rem;
    margin-right: auto;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 112%;
}

.slider-list {
    display: flex;
    gap: 6.4rem;
    margin-bottom: 6.6rem;
}

.slider-list-item {
    flex: 1 0 545px;
    flex-direction: column;
    justify-content: left;
    background-size: 54.5rem 61.1rem;
    background-repeat: no-repeat;
    padding: 30.3rem 3rem 3.6rem;
}

.slider-list-item h4 {
    max-width: 36rem;
    font-size: 3.4rem;
    color: #FFFFFF;
    margin-bottom: 1.6rem;
}

.slider-list-item p {
    color: #EAEAEB;
    margin-bottom: 4.2rem;
}

.slider-list-item .line {
    display: inline-block;
    width: 100%;
    border: 1px solid #989899;
    margin-bottom: 3.2rem;
}

.slider-list-item a {
    font-size: 1.8rem;
    color: #EAEAEB;
}

#slider-1 {
    background-image: url(images/slider1.png);
}

#slider-2 {
    background-image: url(images/slider2.png);
}

#slider-3 {
    background-image: url(images/slider1.png);
}


.slider-buttons {
    display: flex;
    gap: 2.4rem;
}

.slider .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.9rem;
}

.slider .button svg {
    max-width: 3rem;
    max-height: 3rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    padding: 10rem 14.6rem 15rem;
}

.testimonials .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2.6rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.testimonials .wrapper .headings h3 {
    max-width: 55rem;
}

.client-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 125%;
}

.client-slider-list {
    display: flex;
    gap: 10.6rem;
}

.client-slider-list-item {
    flex: 1 0 50%;
    display: flex;
    justify-content: left;
    gap: 3.8rem;
}

.client-slider-list-item .text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}


.client-slider p {
    max-width: 36rem;
    color: #989899;
}

.client-slider h4 {
    font-size: 2.8rem;
    margin-bottom: 1.3rem;
}

.client-slider-list-item .client-name {
    margin: 3rem 0 0.6rem;
    color: #191919;
}